.notification-dropdown {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 2px;
  margin-top: 10px;
}

.popup {
  height: 100vh;
  width: 100%;
  padding: 0 2%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.paired-box {
  width: 572px;
  padding: 40px 30px;
}

.paired-box h5 {
  font-size: 25px;
  color: #0959a3 !important;
  font-weight: 500;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup-btn {
  padding: 6px 34px;
  color: #0959a3;
  border: 1px solid #0959a3;
  border-radius: 20px;
  background: transparent;
  transition: all 0.3s ease;
}

.popup-btn:hover {
  background: linear-gradient(to right, #0b6fc0, #0ae0fc);
  color: white;
  border: 1px solid transparent;
}

.m-remote-care-dropdown {
  background: white;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0px;
  border-radius: 10px;
}

.m-remote-care-dropdown li {
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  list-style: none;
  color: black !important;
}
.m-remote-care-dropdown li:hover {
  background: #ececec;
}

.sidebar.collapsed {
  width: 100px !important;
}

.menu-item {
  padding: 13px !important;
}
.menu-item-dropdown {
  padding: 13px !important;
}

.upgrade-box {
  display: flex;
  flex-direction: column;
  margin-top: 30px !important;
  margin-bottom: 18px !important;
}

.upgrade-box .upgrade-text {
  font-size: 17px;
  line-height: 24px;
}

.profile-box {
  max-width: 700px;
  width: 100%;
  padding: 40px 30px;
}

.profile-box h5 {
  font-size: 25px;
  color: #0c74c2;
  font-weight: 500;
}

.profile-box .profile-link h6 {
  color: #555555;
  width: 100%;
  font-size: 14px;
  margin-top: 10px !important;
}

.profile-box .pr .dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
}

.dropdown-item-custom.active {
  color: #0c75c2;
}

.sidebar-icon {
  width: 30px;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ff4444;
  color: white;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-item {
  transition: background-color 0.3s;
  border-radius: 6px;
}

.notification-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background: #e0f1ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-content {
  flex: 1;
}

.dropdown-divider {
  margin: 0;
  border-color: #e9ecef;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .notification-dropdown {
    width: 100% !important;
    margin: 0;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

.dropdown-toggle-custom::after {
  display: none !important;
}

.menu-item.active svg path {
  fill: white;
}

.menu-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 1px;
}

.menu-icon-wrapper svg path {
  fill: #9197b3;
}

.menu-icon-wrapper:hover svg path {
  fill: #0c75c2;
}

.menu-icon-wrapper.active svg path {
  fill: white;
}

.menu-icon-wrapper.active svg path:hover {
  fill: #9197b3 !important;
}

.logo {
  width: 210px !important;
  height: 105px !important;
}

.notification-icon img {
  width: 26px !important;
  height: 30px !important;
}

.menu-item.active:hover {
  background: #0c75c2 !important;
  color: white !important;
}

.menu-item-dropdown.active:hover {
  background: #0c75c2;
  color: white;
}

.menu-item-active {
  background: #0c75c2 !important;
  color: white !important;
}
.menu-item-active svg path {
  fill: white !important;
}

.sidebar {
  min-height: 100vh !important;
  height: auto !important;
}

.menu-item:hover svg path {
  fill: #0c75c2 !important;
}
.menu-item.active:hover svg path {
  fill: white !important;
}

.menu-item-dropdown.active svg path {
  fill: white !important;
}

.log-out-btn {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 24px;
  background-color: #0c75c2;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.log-out-btn:hover {
  background-color: #0959a3;
}

.add-box {
  width: 370px !important;
  padding: 20px 0;
}

.add-img-container {
  position: relative;
}

.learn-more {
  position: absolute;
  bottom: 37px;
  width: 100%;
  background: rgba(255, 255, 255, 0.76);
  /* background: red; */
  padding: 5px 0;
  font-weight: 600;
}

.add-close-btn {
  position: absolute;
  top: 22px;
  right: 22px;
}

.add-stats-container {
  background-color: #f5f5f5;
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.add-stats-container i {
  font-size: 18px;
  color: black;
}

.community-custom-bullets {
  margin: -8px 0 !important;
  margin-bottom: 2px !important;
}

.custom-bullets {
  margin-bottom: -14px !important;
}

.community-text:hover {
  color: #9197b3 !important;
}

.add-video-box iframe {
  width: 600px;
  height: 370px;
}

.text-primary {
  color: #1d75c2 !important;
}

.profle-drop-down {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: #ddf2f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 3px 0;
  min-width: 160px;
  display: none;
  z-index: 1000;
}

.profle-drop-down li {
  padding: 0px 16px;
  color: #64748b;
  font-size: 14px;
  cursor: pointer;
  /* display: block; */
  width: 100%;
  text-align: left;
  border: none;
  background: #ddf2f9 !important;
  background: none;
  transition: all 0.2s;
}
.profle-drop-down li a:hover {
  background: #ddf2f9 !important;
}

.primary-btn {
  padding: 6px 30px;
  border: 2px solid #0b6fc0;
  background: transparent;
  color: #0b6fc0;
  border-radius: 20px;
  transition: 0.2 linear;
}

.primary-btn:hover {
  background: linear-gradient(90deg, #0c75c2 0%, #1ecee4 100%);
  color: white;
  border: 2px solid transparent;
}

#logoutModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;
}
#logoutModal .modal-content {
  background: white;
  padding: 30px;
  max-height: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}
#logoutModal .modal-content h4 {
  margin-bottom: 10px;
  color: #dc3545;
}
#logoutModal .modal-content p {
  color: #333;
}
#logoutModal .modal-content button {
  margin-top: 10px;
}

/* Ad Container */
/* Ad Container */
.ad-container {
  width: 168px;
  margin-bottom: 16px;
  max-height: 800px !important;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.ad-container img {
  width: 168px;
  height: 620px !important;
  max-height: 800px !important;
  object-fit: cover;
}

@media (max-width: 1144px) {
  .nav-center a {
    font-size: 15px !important;
  }

  .logo-container {
    padding: 0;
  }
  .nav-center {
    gap: 1rem;
  }
  .logo {
    width: 120px !important;
    height: 80px !important;
  }
  .trustpilot {
    width: 100px !important;
  }
}

@media (max-width: 992px) {
  .logo {
    width: 150px !important;
    height: 75px !important;
  }
  .ad-container {
    position: unset;
  }
}

#dha-monitors-menu a {
  cursor: pointer;
}

#dashboardMenu {
  background: linear-gradient(90deg, #0c75c2 0%, #1ecee4 100%);
  color: white !important;
}
#profileMenu {
  background: linear-gradient(90deg, #0c75c2 0%, #1ecee4 100%);
  color: white !important;
}

#profileMenu a {
  color: white !important;
}

.mobile-menu-item-dropdown {
  background: transparent !important;
  color: white !important;
  margin-top: 10px;
}
.mobile-menu-item-dropdown .active {
  background: transparent !important;
}
.mobile-menu-item-dropdown .active:hover {
  background: transparent !important;
}
.mobile-menu-item-dropdown:hover {
  background: transparent !important;
}

.mobile-dropdown-content {
  padding-top: 0 !important;
}

.mobile-dropdown-content a {
  color: white !important;
}

.health-info-icon {
  margin-left: -4px;
  margin-right: 4px;
}
.mobile-menu-item {
  margin-top: 10px;
}
.mobile-menu-item .menu-text {
  color: white !important;
}

.mobile-nav-link-button i {
  font-size: 22px;
}

#user-profile i {
  color: #0c74c2 !important;
}

#cdha-profile i {
  color: #0c74c2 !important;
}

#cdha-profile svg path {
  stroke: #0c74c2 !important;
  stroke-width: 3px;
}


/* Remove default button styles */
.dropdown-btn {
  all: unset;
  cursor: pointer;
      margin-left: -22px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #8b8d97;
  padding: 5px 0;
}

/* Add bullet point before button text */
.dropdown-btn::before {
  content: "•";
  color: black;
  margin-right: 8px;
  font-size: 25px;
}

/* Dropdown content hidden by default */
.dropdown-content {
  display: none;
  padding-left: 20px;
}

.dropdown-content li a {
  color: #8b8d97;
  padding: 8px 0;
  display: block;
  text-decoration: none;
  transition: color 0.3s;
}
.dropdown-content li a:hover {
  background: none !important;
}

/* Rotate arrow */
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Custom bullet points for list */
.custom-list {
  list-style-type: disc;
 padding: 0 !important;
}

#mobileMenu {
  background: white !important;
}

.upgrade-link{
  color: #0959a3 !important;
}


.profile-toggle-btn img {
  border-radius: 50%;
  border: 2px solid white;
  width: 40px;
}

/* Profile Menu */

#mobileProfileMenu {
  background-color: white !important;
  height: auto;
  max-height: 560px;
  top: 70px !important;
  width: 80%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#mobileProfileMenu .offcanvas-body {
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329);
}

#mobileProfileMenu .mobile-nav {
  padding: 0 15px;
}

#mobileProfileMenu .mobile-nav-link {
  background: transparent !important;
  color: black !important;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  display: block;
}

#mobileProfileMenu .mobile-nav-link-button {
  padding-left: 0;
}

#mobileProfileMenu .mobile-nav-link-button:hover,
#mobileProfileMenu .mobile-logout-btn:hover {
  background-color: #f1f1f1;
}

.mobile-profile-menu .trustpilot-img img {
  width: 100px;
}

.mobile-profile-menu .user-details img {
  width: 40px !important;
  height: 40px !important;
}

.mobile-profile-menu ul {
  margin-top: 1rem;
  padding: 0 !important;
}
.mobile-profile-menu ul li {
  list-style: none;
}
.mobile-profile-menu li a {
  color: #2e2e2e !important;
  font-size: 16px !important;
}

.mobile-profile-menu i {
  font-size: 16px !important;
  color: #bfbfbf !important;
}

.mobile-profile-menu li .upgrade-link {
  color: #0959a3 !important;
}

/* Sidebar Menu */
#sidebar-menu {
  background-color: white !important;
  height: fit-content !important;
  max-height: 100vh;
  top: 70px !important; /* Adjust top position */
  width: 80%;
  max-width: 300px;
  margin-left: 0;
  margin-right: auto;
  position: fixed; /* Keeps the menu fixed on the left side */
  left: 0; /* Aligns to the left side */
  z-index: 1050; /* Ensures it's on top */
}

#sidebar-menu .offcanvas-body {
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.329); /* Adding box-shadow for visual appeal */
}

#sidebar-menu .mobile-nav {
  padding: 0 15px; /* Spacing for the nav items */
}

#sidebar-menu .mobile-nav-link {
  background: transparent !important;
  color: black !important;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
}

#sidebar-menu .mobile-nav-link-button {
  padding-left: 0;
}

#sidebar-menu .mobile-nav-link-button:hover,
#sidebar-menu .mobile-logout-btn:hover {
  background-color: #f1f1f1;
}

#sidebar-menu .user-details img {
  width: 40px !important;
  height: 40px !important;
}

#sidebar-menu ul {
  margin-top: 1rem;
  padding: 0 !important;
}

#sidebar-menu ul li {
  list-style: none;
}

#sidebar-menu li a {
  color: #2e2e2e !important;
}

.sidebar-menu .m-menu-item {
  display: flex;
  align-items: center;
  gap: 15px !important;
  padding: 8px;
}
.sidebar-menu .m-menu-dropdown {
  padding: 8px !important;
  display: flex;
  align-items: center;
  gap: 25px !important;
  justify-content: space-between;
}
.sidebar-menu .m-menu-dropdown.active {
  background: transparent !important;
  color: #9197b3 !important;
}

.sidebar-menu .m-menu-item span {
  color: #9197b3;
}
.sidebar-menu .m-menu-item span {
  color: #9197b3;
}

.sidebar-menu .m-menu-item svg {
  width: 25px !important;
}
.sidebar .m-menu-item.active path {
  fill: #9197b3 !important;
}

.sidebar-menu .m-menu-dropdown.active svg path{
  fill: #9197b3 !important;
}

.m-menu-dropdown:hover:not(.active) {
  background-color: transparent !important;
  color: #9197b3;
}

.m-dropdown-content {
  padding: 0 !important;
  margin: 0 !important;
}

.sidebar-menu .m-dropdown-content .dropdown-item-custom {
  color: #9197b3 !important;
  font-size: 14px;
  padding: 5px !important;
}

.sidebar-menu .m-dropdown-content #dropdownContent ul{
  margin-top: 0 !important;
}
.sidebar-menu .m-dropdown-content #dropdownBtn {
  width: 240px;
  font-size: 14px;
  background: transparent;
  border: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  /* color: ; */
}

.sidebar-menu .m-dropdown-content{
  padding-left: 40px !important;
  padding-bottom: 20px !important;
}

.sidebar-menu .m-dropdown-content .custom-bullets li{
  list-style: disc !important;

}

.m-log-out-btn {
  width: 100%;
  background: #0d7cc4;
  border: none;
  color: white;
  border-radius: 5px !important;
  text-align: start;
  padding: 5px 20px !important;
  /* margin: auto !important; */
}

@media (max-width: 576px) {
    .notification-dropdown {
      width: 300px !important;
    }
  }

#sidebar .menu-item.active svg path{
  fill: white !important;
}
@media (max-width: 991px) {
  .m-logo-container{
    justify-content: center !important; 
    width: 100%;
  }

}

#user-profile .border-top a{
  font-size: 14px !important;
  text-align: center;
  background: #0b6fc0;
  font-weight: normal !important;
  color: white !important;
  border-radius: 8px !important;
}
#cdha-profile .border-top a{
  font-size: 14px !important;
  text-align: center;
  background: #0b6fc0;
  font-weight: normal !important;
  color: white !important;
  border-radius: 8px !important;
}
#mobileProfileMenu .border-top a{
  font-size: 14px !important;
  text-align: center;
  background: #0b6fc0;
  font-weight: normal !important;
  color: white !important;
  border-radius: 8px !important;
}

#sidebar-menu .menu-item{
   display: flex;
  align-items: center;
  gap: 15px !important;
  padding: 8px;
}


#sidebar-menu .menu-item{
  display: flex;
  align-items: center;
  gap: 6px !important;
  padding: 3px !important;
}

#sidebar-menu .menu-item:hover{
  background: transparent !important;
}

  #sidebar-menu .menu-item img{
    padding: 0 !important;
    width: 25px !important;
    height: 25px !important;
  }